<ion-header no-border>
  <ion-toolbar color = "light-yellow">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
  
          <ion-item slot = "right">
            <ion-label>
            <strong>App Name: </strong>
            <p>iNews Headlines</p>
          </ion-label>
          </ion-item>
          <ion-item>
            <strong>Version: </strong>
            <p> 1.0.0</p>
          </ion-item>
          <ion-item>
            <strong>Description: </strong> 
            <p>Convenient, Smart App News </p>
          </ion-item>
  
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
