<ion-header no-border>
  <ion-toolbar color = "light-yellow">
    <ion-title>
      Top News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot = "fixed" (ionRefresh) = "doRefrsh($event)">
    <ion-refresher-content>

    </ion-refresher-content>
</ion-refresher>
  <!-- <ion-item *ngFor = 'let article of data?.articles'>
    {{article.title}}

  </ion-item> -->
  <app-news [news]="news"></app-news>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more data..." >
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
  

</ion-content>
